.wrapper {
  width: 100%;
}

.inner {
  width: 100%;
  list-style-type: none;
  display: flex;
  overflow-x: scroll;
}

.inner::-webkit-scrollbar {
  background-color: transparent;
  height: 0px;
}
.inner::-webkit-scrollbar-track {
  background-color: transparent;
}
.inner::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 4px solid transparent;
  background-color: rgba(0, 0, 0, 0.2);
  background-clip: content-box;
}
