.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.home_banner {
  position: relative;
  width: 100%;
  height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-image: url(../src/assets/images/Full_Range_Homepage_Hero_Banner_Desktop_Nov_22.jpg);
  background-size: 1920px;
  background-position: 0% 100%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 481px) {
  .home_banner {
    background-image: url(../src/assets/images/Homepage_Hero_Banner_Mobile_Black_Bottom_v3.jpg);
    background-size: 100vw;
  }
}

.home_banner_inner {
  z-index: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px 80px 40px 40px;
}

.home_banner_inner h1 p {
  font-size: 85px;
  font-weight: normal;
  letter-spacing: -0.03em;
  line-height: 0.8em;
  margin: 0;
}

.home_banner_inner button {
  margin-top: 40px;
}

.banner_review {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  bottom: 40px;
  left: 40px;
}

.banner_review_head {
  width: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner_review_content {
  width: 360px;
  color: #f8f8ef90;
  font-size: 16px;
  line-height: 1em;
}

@media screen and (max-width: 992px) {
  .banner_review_content {
    width: 100%;
  }
}

@media screen and (max-height: 567px) {
  .home_banner_inner {
    padding-top: 20px;
  }
}

@media screen and (max-height: 672px) {
  .home_banner_inner h1 p {
    font-size: 52px;
  }
}

.featured {
  padding-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1025px) {
  .featured {
    border-bottom: 1px solid black;
  }
}

.title {
  font-size: 40px;
  font-weight: normal;
  margin: 0 0 30px;
  padding: 0 0 0 40px;
}

@media screen and (max-width: 769px) {
  .title {
    margin-left: 10px;
    padding-left: 10px;
  }
}

.title p {
  margin: 0;
  padding: 0;
  line-height: 1em;
}

.featured_group {
  width: 100%;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  padding-top: 40px;
  margin-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

@media screen and (max-width: 992px) {
  .wrapper {
    flex-direction: column;
    border-bottom: solid 1px black;
  }
}

@media screen and (max-width: 769px) {
  .wrapper {
    border-bottom: solid 1px black;
  }
}

.inner {
  list-style-type: none;
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.inner ul li {
  width: 25%;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 40px;
}

@media screen and (max-width: 769px) {
  .inner {
    width: 100vw;
    overflow-x: scroll;
    padding: 0 40px;
    margin-left: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
  }

  .content {
    width: 50vw !important;
    margin-left: 0px;
    padding-left: 0px;
  }
}

.inner > .content > span {
  font-size: 16px;
  color: #121212bf;
}

.about_us {
  position: relative;
  display: flex;
  height: 325px;
  overflow: hidden;
  justify-content: flex-end;
}

.icon {
  position: absolute;
  top: -90%;
  right: -700px;
  width: 1500px;
  padding-left: 2rem;
}
@media screen and (max-width: 1025px) {
  .about {
    align-items: flex-start !important;
  }

  .about > .title {
    order: 2;
  }
  .icon {
    top: 0;
    right: 0;
    padding: 0;
    position: unset;
    width: 150px !important;
    height: fit-content;
    padding-left: 40px;
    padding-bottom: 40px;
  }
  .about_us {
    position: unset;
    order: 1;
  }
}

.home_banner_2 {
  background: #00000030
    url(../src/assets/images/NPD_Themed_Collection_Banner.png) !important;
  background-size: 100% !important;
}

@media screen and (max-width: 481px) {
  .home_banner_2 {
    background: #00000030
      url(../src/assets/images/NPD_Homepage_Sub_Banner_Mobile_Gifting.jpg) !important;
    background-size: 100% !important;
  }
}

.thepress {
  justify-content: flex-end;
}

@media screen and (max-width: 769px) {
  .thepress {
    justify-content: flex-start;
  }
}

.thepress .content {
  border-left: 1px solid black;
  padding-left: 20px;
  margin-right: 40px;
  border-left: unset;
}

.bg_xmart {
  width: 65%;
}

.xmas {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1025px) {
  .bg_xmart {
    width: 100%;
    padding: 0 40px;
  }
}
